@import '../../sass/config.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    @include media-1 {
      width: 260px;
    }
    @include media-2 {
      width: 280px;
    }
    width: 240px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
      @include media-1 {
        font-size: 1.55rem;
      }
      @include media-2 {
        font-size: 1.7rem;
      }
      font-size: 1.45rem;
      width: 100%;
      color: $color-2;

      text-align: center;
      margin: 1rem auto;
      font-family: $font-family-1;
      font-weight: 600;
    }

    &__input {
      width: 100%;
      height: 1.6rem;
      padding-left: 20px;
      border: none;
      border-bottom: 2px solid $color-3;
      font-family: $font-family-1;
      font-weight: 700;
      font-size: 1.1rem;
      outline: $color-1;

      &::placeholder {
        color: $color-3;
      }

      &:focus {
        border-bottom: 2px solid $color-2;
      }

      &:valid {
        border-bottom: 2px solid $color-2;
      }

      &:invalid {
        box-shadow: none;
      }
    }

    .error {
      border-bottom: 2px solid $color-4;

      &::placeholder {
        color: $color-4;
      }
    }

    .error_message {
      height: 1rem;
      width: 100%;
      font-size: 12px;
      color: $color-4;
      padding: 2px 0 0 20px;
    }
  }
}
