# dependencies
/.vs
/.vscode
backend/bin/Debug/net5.0/CommandApi.exe
backend/bin/Debug/net5.0/CommandApi.exe
backend/bin/Debug/net5.0/CommandApi.runtimeconfig.dev.json
backend/obj/CommandApi.csproj.nuget.dgspec.json
backend/obj/CommandApi.csproj.nuget.g.props
backend/obj/Debug/net5.0/apphost.exe
backend/obj/Debug/net5.0/CommandApi.assets.cache
backend/obj/Debug/net5.0/CommandApi.csproj.CoreCompileInputs.cache
backend/obj/Debug/net5.0/CommandApi.genruntimeconfig.cache
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/bin/Debug/net5.0/CommandApi.dll
backend/bin/Debug/net5.0/CommandApi.pdb
backend/bin/Debug/net5.0/ref/CommandApi.dll
backend/obj/Debug/net5.0/ref/CommandApi.dll
backend/obj/Debug/net5.0/CommandApi.pdb
backend/obj/Debug/net5.0/CommandApi.dll
backend/obj/Debug/net5.0/CommandApi.csproj.CoreCompileInputs.cache
backend/obj/Debug/net5.0/ref/CommandApi.dll
backend/bin/Debug/net5.0/CommandApi.dll
backend/bin/Debug/net5.0/CommandApi.pdb
backend/bin/Debug/net5.0/ref/CommandApi.dll
backend/obj/Debug/net5.0/CommandApi.dll
backend/obj/Debug/net5.0/CommandApi.pdb
backend/obj/Debug/net5.0/ref/CommandApi.dll
*.dll
*.pdb
