@import '../../sass/config.scss';

.input {
  @include media-1 {
    font-size: 1rem;
  }
  width: 70%;
  height: 30px;
  margin: 5px 0;
  padding: 0.3rem 1rem;
  border: none;
  border-bottom: 1.5px solid $color-3;
  font-family: $font-family-1;
  font-size: 0.9rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: $color-1;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &:focus {
    border-bottom: 1.5px solid $color-2;
  }

  &:valid {
    border-bottom: 1.5px solid $color-2;
  }

  &:invalid {
    border-bottom: 1.5px solid $color-4;
  }
}
