@import '../../sass/config.scss';

.input_wrapper {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.input_wrapper > label {
  padding: 0 0.2em;
  position: absolute;
  top: -0.5em;
  left: 1em;
  background-color: white;
  color: $color-2;
}

.input {
  width: 100%;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  border: 1.5px solid $color-2;
  outline: none;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  &:focus {
    transition-duration: 0.4s;
    border: 1.5px solid $color-7;
  }

  &:invalid {
    transition-duration: 0.4s;
    color: $color-4;
    border: 1.5px solid $color-4;
  }
}

.error {
  border: 1.5px solid $color-4;

  &::placeholder {
    color: $color-4;
  }
}

.empty {
  border: 1.5px solid $color-3;

  &::placeholder {
    color: $color-3;
  }
  &::-webkit-input-placeholder {
    color: $color-3;
  }

  &::-moz-placeholder {
    color: $color-3;
    opacity: 1;
  }

  &::-ms-placeholder {
    color: $color-3;
  }
}
