@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$color-1: #ffffff;
$color-2: #011627;
$color-3: #67727c;
$color-4: #e71d36;
$color-5: #ff9f1c;
$color-6: #2ec4b6;

$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Roboto Slab', serif;

@mixin media-1 {
  @media screen and (min-width: 500px) {
    @content;
  }
}
@mixin media-2 {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin media-3 {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-4 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
