@import '../../sass/config.scss';

.navbar {
  @include media-1 {
    width: 120px;
    height: 100vh;
  }
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-2;
  width: 100%;
  height: 46px;
  padding: 4px;

  .list {
    @include media-1 {
      flex-direction: column;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__item {
      @include media-1 {
        margin: 10px 5px;
        height: 70px;
        width: 70px;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-out 0.5s;
      margin: 3px;
      height: 2rem;
      width: 150px;
      background-color: $color-5;
      text-align: center;
      border-radius: 3px;

      &:hover {
        background-color: lighten($color-5, 10%);
      }

      &__link {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $color-2;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
