@import '../../sass/config.scss';

.ticket {
  @include media-1 {
    margin: 0 0 0 120px;
    padding: 2rem;
  }
  @include media-2 {
    padding: 2rem 3rem;
  }

  @include media-3 {
    padding: 2rem 4.5rem;
  }
  margin: 46px 0 0 0;
  padding: 1rem;

  .heading {
    font-family: $font-family-2;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .input {
      width: 200px;
      height: 30px;
      margin: 5px 0;
      padding: 0.3rem 1rem;
      border: none;
      border-bottom: 1.5px solid $color-3;
      outline: $color-1;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }

      &:focus {
        border-bottom: 1.5px solid $color-2;
      }

      &:valid {
        border-bottom: 1.5px solid $color-2;
      }

      &:invalid {
        border-bottom: 1.5px solid $color-4;
      }
    }
  }
}
