@import '../../sass/config.scss';

.ticket {
  @include media-1 {
    margin: 0 0 0 120px;
    padding: 2rem;
  }
  @include media-2 {
    padding: 2rem 3rem;
  }

  @include media-3 {
    padding: 2rem 4.5rem;
  }
  margin: 46px 0 0 0;
  padding: 1rem;

  .heading {
    font-family: $font-family-2;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
