@import '../../sass/config.scss';

.wrapper {
  @include media-1 {
    margin: 0 0 0 120px;
    padding: 2rem;
  }
  @include media-2 {
    padding: 2rem 3rem;
  }
  margin: 46px 0 0 0;
  padding: 1rem;

  .ticket_table {
    width: 100%;

    &__body,
    &__head {
      &__row {
        margin: 2px;
        text-align: center;
        border-bottom: 2px solid $color-2;
        color: $color-2;
      }
    }

    &__head__row {
      .header {
        padding: 10px;
      }
    }

    &__body__row {
      cursor: pointer;
      .data {
        padding: 5px;
      }
    }
  }
}
